<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if projects == "" %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ "" }}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>
